* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

header h1 {
    margin: 1vh 0;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vh 0;
}

.person {
    margin: 1vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person img {
    width: 40vh;
    max-width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: sepia(100%) saturate(200%) brightness(90%);
}

.person:nth-child(1) {
    filter: hue-rotate(0deg);
}

.person:nth-child(2) {
    filter: hue-rotate(310deg);
}

.person:nth-child(3) {
    filter: saturate(70%) hue-rotate(80deg);
}

.person h1, .person p {
    text-align: center;
    width: 40vh;
}

.person h1 a {
    color: inherit;
}

body>img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    box-shadow: 0 0 1vw black;
    display: block;
}

#history {
    margin: 1vh;
}

#history p {
    max-width: 80ch;
    margin: auto;
    margin-bottom: 1vh;
}

#articles>.line {
    background-color: black;
    margin: 0 2rem;
    height: 0.5rem;
}

#articles article:nth-of-type(1) .content {
    background-color: #FFCC88;
}

#articles article:nth-of-type(2) .content {
    background-color: #FFA9A0;
}

#articles article:nth-of-type(3) .content {
    background-color: #BEFFB9;
}

article .line {
    background-color: black;
    margin: 0 2rem;
    min-width: 0.5rem;
}

article {
    display: flex;
    justify-content: space-between;
}

article .content {
    flex-grow: 1;
    padding: 1vh;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .content p {
    text-align: justify;
    margin-bottom: 1rem;
    max-width: 80ch;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: space-between;

    padding: 2vh;
    background-color: lightgray;
}