* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

header h1 {
    font-size: 4vw;
    text-align: center;
    margin: 1vw 0;
}

#intro {
    display: flex;
    justify-content: center;
    margin: 1vw 0;
}

.person {
    width: min-content;
    margin: 1vw;
}

.person img {
    height: 20vw;
    border-radius: 10vw;
    filter: sepia(100%) saturate(200%) brightness(90%);
}

.person:nth-child(1) {
    filter: hue-rotate(0deg);
}

.person:nth-child(2) {
    filter: hue-rotate(310deg);
}

.person:nth-child(3) {
    filter: saturate(70%) hue-rotate(80deg);
}

.person h1, .person p {
    text-align: center;
}

.person h1 a {
    color: inherit;
}

body>img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    box-shadow: 0 0 1vw black;
    display: block;
}

#history {
    margin: 1vw;
}

#history h1 {
    font-size: 3vw;
    text-align: center;
}

/* sorry måns*/
h2 {
    font-size: 2vw;
    text-align: center;
}

h3 {
    font-size: 1.5vw;
    text-align: center;
}

#history p {
    font-size: 1vw;
    text-align: justify;
    margin: 1vw 15vw;
}

#articles>.line {
    background-color: black;
    margin: 0 3vw;
    height: 1vw;
}

#articles article:nth-of-type(1) .content {
    background-color: #FFCC88;
}

#articles article:nth-of-type(2) .content {
    background-color: #FFA9A0;
}

#articles article:nth-of-type(3) .content {
    background-color: #BEFFB9;
}

article .line {
    background-color: black;
    margin: 0 3vw;
    width: 1vw;
}

article {
    display: grid;
    grid-template-columns: auto auto;
}

article .content {
    padding: 2vw;
    margin: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .content h1 {
    font-size: 3vw;
    text-align: center;
}

article .content p {
    font-size: 1.5vw;
    text-align: justify;
    margin-bottom: 1rem;
}

article .content > * {
    margin: 1vw 10vw;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1%;

    background-color: rgb(230, 230, 230);
    margin-top: auto;
}

footer p {
    background-color: #f5f5f5;
}

footer div {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

footer img {
    background-color: rgb(230, 230, 230);

